<div
    role="group"
    class="rc-FormPartsQuestion"
    aria-labelledby="BQxQJsthEemWEBIfTwzi3g-legend"
>
    <div
        id="BQxQJsthEemWEBIfTwzi3g-legend"
        class="rc-FormPartsQuestion__row"
        data-test="legend"
    >
        <div class="rc-FormPartsQuestion__numberCell">
            <h3 class="cds-137 css-13n3rak cds-139" aria-hidden="true">
                <span>9</span>.
            </h3>
            <span class="screenreader-only"><span>Question 9</span></span>
        </div>
        <div
            class="rc-FormPartsQuestion__contentCell"
            id="prompt-BQxQJsthEemWEBIfTwzi3g"
        >
            <div class="cds-137 css-1j071wf cds-139">
                <div class="rc-CDSToCMLStylesheet css-eeg3o6">
                    <div
                        id=""
                        class="rc-RenderableHtml rc-CML show-soft-breaks css-1j2040e"
                        dir="auto"
                    >
                        <div>
                            <div
                                class="cmlToHtml-content-container"
                                style="white-space: pre-wrap"
                            >
                                <p>Select the single best answer.</p>
                                <p>
                                    <strong
                                        >Rapid reviews have emerged as an
                                        efficient approach to producing relevant
                                        and contextualised evidence in Health
                                        Policy and Systems Research. Which
                                        statement best describes the mechanisms
                                        to enhance the timeliness of such
                                        reviews.</strong
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rc-FormPartsQuestion__pointsCell">
            <div class="css-1xe0vjc">
                <span class="cds-137 css-139dys0 cds-139"
                    ><span>1 point</span></span
                >
            </div>
        </div>
    </div>
    <div class="rc-FormPartsQuestion__row">
        <div class="rc-FormPartsQuestion__numberCell"></div>
        <div class="rc-FormPartsQuestion__contentCell">
            <div>
                <div class="css-1mkdutb">
                    <div class="rc-Option">
                        <label class="_1oyudm1w cui-Checkbox cui-active"
                            ><span class="_1e7axzp"
                                ><svg
                                    class="_ufjrdd"
                                    aria-hidden="true"
                                    focusable="false"
                                    viewBox="0 0 24 24"
                                    role="img"
                                    aria-labelledby="RadioUnchecked714634ef-8cac-4aa1-d2e9-c9f98556db8b RadioUnchecked714634ef-8cac-4aa1-d2e9-c9f98556db8bDesc"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="
                                        fill: rgb(102, 102, 102);
                                        height: 24px;
                                        width: 24px;
                                    "
                                >
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                                        role="presentation"
                                    ></path></svg></span
                            ><input
                                class="_htmk7zm"
                                name="BQxQJsthEemWEBIfTwzi3g"
                                type="radio"
                                tabindex="0"
                                value="0.12601155960950683"
                            /><span class="_bc4egv p-x-1s font-weight-normal"
                                ><div class="cds-137 css-1j071wf cds-139">
                                    <div
                                        class="rc-CDSToCMLStylesheet css-eeg3o6"
                                    >
                                        <div
                                            id=""
                                            class="rc-RenderableHtml rc-CML rc-Option__input-text show-soft-breaks css-1j2040e"
                                            dir="auto"
                                        >
                                            <div>
                                                <div
                                                    class="cmlToHtml-content-container"
                                                    style="
                                                        white-space: pre-wrap;
                                                    "
                                                >
                                                    <p>
                                                        Using review short cuts,
                                                        narrowing the scope,
                                                        expanding the literature
                                                        search dates, automating
                                                        review steps.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></span
                            ></label
                        >
                    </div>
                </div>
                <div class="css-1mkdutb">
                    <div class="rc-Option">
                        <label class="_1oyudm1w cui-Checkbox cui-active"
                            ><span class="_1e7axzp"
                                ><svg
                                    class="_ufjrdd"
                                    aria-hidden="true"
                                    focusable="false"
                                    viewBox="0 0 24 24"
                                    role="img"
                                    aria-labelledby="RadioUncheckede613cfde-3920-4b68-8851-36868184e6e2 RadioUncheckede613cfde-3920-4b68-8851-36868184e6e2Desc"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="
                                        fill: rgb(102, 102, 102);
                                        height: 24px;
                                        width: 24px;
                                    "
                                >
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                                        role="presentation"
                                    ></path></svg></span
                            ><input
                                class="_htmk7zm"
                                name="BQxQJsthEemWEBIfTwzi3g"
                                type="radio"
                                tabindex="0"
                                value="0.4760895072602547"
                            /><span class="_bc4egv p-x-1s font-weight-normal"
                                ><div class="cds-137 css-1j071wf cds-139">
                                    <div
                                        class="rc-CDSToCMLStylesheet css-eeg3o6"
                                    >
                                        <div
                                            id=""
                                            class="rc-RenderableHtml rc-CML rc-Option__input-text show-soft-breaks css-1j2040e"
                                            dir="auto"
                                        >
                                            <div>
                                                <div
                                                    class="cmlToHtml-content-container"
                                                    style="
                                                        white-space: pre-wrap;
                                                    "
                                                >
                                                    <p>
                                                        Using review short cuts,
                                                        narrowing the scope,
                                                        intensifying the work on
                                                        review processes,
                                                        automating review steps.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></span
                            ></label
                        >
                    </div>
                </div>
                <div class="css-1mkdutb">
                    <div class="rc-Option">
                        <label class="_1oyudm1w cui-Checkbox cui-active"
                            ><span class="_1e7axzp"
                                ><svg
                                    class="_ufjrdd"
                                    aria-hidden="true"
                                    focusable="false"
                                    viewBox="0 0 24 24"
                                    role="img"
                                    aria-labelledby="RadioUncheckedadfbb40d-1c4c-46b5-c8ba-19a8746f6f65 RadioUncheckedadfbb40d-1c4c-46b5-c8ba-19a8746f6f65Desc"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="
                                        fill: rgb(102, 102, 102);
                                        height: 24px;
                                        width: 24px;
                                    "
                                >
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                                        role="presentation"
                                    ></path></svg></span
                            ><input
                                class="_htmk7zm"
                                name="BQxQJsthEemWEBIfTwzi3g"
                                type="radio"
                                tabindex="0"
                                value="0.8124439521061972"
                            /><span class="_bc4egv p-x-1s font-weight-normal"
                                ><div class="cds-137 css-1j071wf cds-139">
                                    <div
                                        class="rc-CDSToCMLStylesheet css-eeg3o6"
                                    >
                                        <div
                                            id=""
                                            class="rc-RenderableHtml rc-CML rc-Option__input-text show-soft-breaks css-1j2040e"
                                            dir="auto"
                                        >
                                            <div>
                                                <div
                                                    class="cmlToHtml-content-container"
                                                    style="
                                                        white-space: pre-wrap;
                                                    "
                                                >
                                                    <p>
                                                        Using review short cuts,
                                                        narrowing the scope,
                                                        intensifying the work on
                                                        review processes, manual
                                                        initial study screening.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></span
                            ></label
                        >
                    </div>
                </div>
                <div class="css-1mkdutb">
                    <div class="rc-Option">
                        <label class="_1oyudm1w cui-Checkbox cui-active"
                            ><span class="_1e7axzp"
                                ><svg
                                    class="_ufjrdd"
                                    aria-hidden="true"
                                    focusable="false"
                                    viewBox="0 0 24 24"
                                    role="img"
                                    aria-labelledby="RadioUncheckedb2ef3fd9-5588-4f82-fb83-b8d866c89aca RadioUncheckedb2ef3fd9-5588-4f82-fb83-b8d866c89acaDesc"
                                    xmlns="http://www.w3.org/2000/svg"
                                    style="
                                        fill: rgb(102, 102, 102);
                                        height: 24px;
                                        width: 24px;
                                    "
                                >
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
                                        role="presentation"
                                    ></path></svg></span
                            ><input
                                class="_htmk7zm"
                                name="BQxQJsthEemWEBIfTwzi3g"
                                type="radio"
                                tabindex="0"
                                value="0.017912412433283675"
                            /><span class="_bc4egv p-x-1s font-weight-normal"
                                ><div class="cds-137 css-1j071wf cds-139">
                                    <div
                                        class="rc-CDSToCMLStylesheet css-eeg3o6"
                                    >
                                        <div
                                            id=""
                                            class="rc-RenderableHtml rc-CML rc-Option__input-text show-soft-breaks css-1j2040e"
                                            dir="auto"
                                        >
                                            <div>
                                                <div
                                                    class="cmlToHtml-content-container"
                                                    style="
                                                        white-space: pre-wrap;
                                                    "
                                                >
                                                    <p>
                                                        Using review short cuts,
                                                        narrowing the scope,
                                                        limiting the work to one
                                                        reviewer, automating
                                                        review steps.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></span
                            ></label
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="rc-FormPartsQuestion__pointsCell"></div>
    </div>
</div>
